@media print {
    tr.vendorListHeading {
        background-color: #1a4567 !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .vendorListHeading th {
        color: white !important;
    }
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    text-align: center;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    width:100%;
}
thead {
    background: #eee;
}
.horizontal-line{
    border-top: #eee 4px solid;
    padding-bottom: 20px;
}
th {
    border-right: #e3e3e3 1px dotted;
    border-bottom: #e3e3e3 1px dotted;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}
td.t_top {
    border-top: #b3b3b3 4px solid;
}
td {
    border-bottom: #e3e3e3 1px dotted;
    padding: 10px;
}

#company-information-left {
    font-size : large;
    width: 50%;
    float: left;
    padding-left: 15%;
}
#company-information-right {
    font-size: large;
    width: 50%;
    float: left;
    padding-left: 20%;
}

#sum-information{
    width: 35%;
    padding-top: 20px;
    text-align: center;
}

#sum-information th{
    background: #eee;
}

.fix-table-layout{
    table-layout: fixed;
}

#product-item-table{
    padding-top: 20px;
}

#half-table{
    margin-left: 50%;
    width: 50%;
}

#half-table th{
    background: #eee;
}